# URL where the backend is located
VITE_API_URL=http://127.0.0.1:8000


# When to show the session logout timer in seconds, ensure you pair with 'REFRESH_TOKEN_LIFETIME' within `backend/backend/settings.py`
# Example: 
#          if you want the pop up to show when there's 5 minutes remaining, set this value to 300
#          Then set 'REFRESH_TOKEN_LIFETIME' to anything greater than 5 minutes.
# To disable set to `-1`
VITE_REFRESH_TOKEN_LIFETIME_WARNING=300

# Number of days the system must not be updated for in order to display as 'outdated' on the site
# It's best to make sure this value matches the 'PATCH_THRESHOLD_DAYS' in Django `backend/backend/settings.py`
VITE_PATCH_THRESHOLD_DAYS=30