# URL where the backend is located
VITE_API_URL=http://127.0.0.1:8000


# Number of days the system must not be updated for in order to display as 'outdated' on the site
# It's best to make sure this value matches the 'PATCH_THRESHOLD_DAYS' in Django `backend/backend/settings.py`
VITE_PATCH_THRESHOLD_DAYS=30