# Debug WARNING: Never leave DEBUG=True in prod
DEBUG=True

# Secret Key for settings.py - Run 'python manage.py generate_secret_key' to make one
SECRET_KEY=''

# Access Security
# For development, set ALLOWED_HOST to *, otherwise comma separated entries i.e: astraea.teflon.lan,astraea.wickedworlds.ca
ALLOWED_HOSTS=*
# full url for which domains can access the backend i.e: http://localhost:8000,http://astraea.teflon.lan
CORS_ORIGINS=http://localhost:8000

# Only send cookies over HTTPS
# For development, set these to False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
AUTH_COOKIE_SECURE=False


# Database info
# If using Docker, ensure to set `DB_HOST` to be `DB_HOST=db`

DB_NAME=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=

# Redis Info
# If using Docker, ensure you set this to `REDIS_URL=redis://redis:6379/1`
REDIS_URL=redis://127.0.0.1:6379/1