# Debug WARNING: Never leave DEBUG=True in prod
DEBUG=False

# Secret Key for settings.py - Run 'python manage.py generate_secret_key' to make one
SECRET_KEY='CHANGE_ME'

# Access Security
# For development, set ALLOWED_HOST to *, otherwise comma separated entries i.e: astraea.teflon.lan,astraea.wickedworlds.ca
ALLOWED_HOSTS=*
# full url for which domains can access the backend i.e: http://localhost:8000,http://astraea.teflon.lan
CORS_ORIGINS=http://localhost:8000
# full url for which domains can access the backend i.e: http://localhost:8000,http://astraea.teflon.lan
CSRF_TRUSTED_ORIGINS=http://localhost:8000

# Only send cookies over HTTPS
# For development, set these to False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
AUTH_COOKIE_SECURE=False


# Settings used by Verification and Password Reset
# BASE_URL - ensure you provide the full base url, for example 'https://astraea.example.lan'
BASE_URL=
# Amount of time in minutes the link will expire, set to '0' to not expire
VERIFY_LINK_EXPIRY_MINUTES=10
# Amount of time in minutes the link will expire, set to '0' to not expire
RESET_LINK_EXPIRY_MINUTES=10


# Database info
# If using Docker, ensure to set `DB_HOST` to be `DB_HOST=db`
# More info: https://docs.djangoproject.com/en/6.0/ref/settings/#databases

# MySQL Engine: 'django.db.backends.mysql', PostgreSQL Engine: 'django.db.backends.postgresql'
DB_ENGINE=
DB_NAME=
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=

# Redis Info
REDIS_URL=redis://127.0.0.1:6379/0
CELERY_REDIS_URL=redis://127.0.0.1:6379/1


# Email Settings
ENABLE_EMAIL=False
EMAIL_HOST=
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_PORT=
EMAIL_USE_TLS=


# Server Patching Options

# How many days until server is listed as out of date
PATCH_THRESHOLD_DAYS=30