[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target redis.service

[Service]
User=darren
Group=www-data
WorkingDirectory=/opt/Astraea-Webserver/backend
# Start the Web Server
ExecStart=/opt/Astraea-Webserver/backend/venv/bin/gunicorn \
          --access-logfile - \
          --worker-class gevent \
          --workers 4 \
          --preload \
          --max-requests 5000 \
          --max-requests-jitter 100 \
          --bind unix:/run/gunicorn.sock \
          backend.wsgi:application

# Warm the cache immediately after Gunicorn starts
# The '-' prefix tells systemd NOT to fail the whole service if the cache command fails
ExecStartPre=-/opt/Astraea-Webserver/backend/venv/bin/python manage.py warm_cache

[Install]
WantedBy=multi-user.target